/*Globals*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* Navbar*/

.navbar {
    height: 40px;
}

.navbar ul {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin-right: 1vh;
}

.navbar li {
    margin: auto 2vh;
}

.item-2 {
    padding: 0 1em;
    border-width: 0 1px;
    border-style: solid;
}

.navbar a:hover {
    color: #d1d1d1;
    border-bottom: solid #d1d1d1 1px;
}