/*Container*/

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}


/* Backgrounds & colored buttons */

.bg-dark,
.btn-dark {
    background-color: #ffcaff;
    color: rgb(255, 255, 255);
}

.bg-light,
.btn-light {
    background-color: rgb(255, 255, 255);
    color: #ffcaff;
}

.rainbow {
    background: linear-gradient(to right, #ee7f7e, #f896fc, #b189f5, #87c1f1, #8ee3ee, #8cf391, #f1fa90, #f3cb8a, #f5a289);
}


/* Text Colors */

.text-dark {
    color: #ffcaff;
}

.text-light {
    color: #fff;
}

.rainbow-text {
    background: linear-gradient(to right, #ee7f7e, #f896fc, #b189f5, #87c1f1, #8ee3ee, #8cf391, #f1fa90, #f3cb8a, #f5a289);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-dark a,
.btn-dark a {
    color: #fff;
    font-weight: 600;
}

.bg-light a,
.btn-light a {
    color: #ffcaff;
    font-weight: 600;
}

.rainbow-border {
    border: 2px solid;
    border-image: conic-gradient(#ee7f7e, #f896fc, #b189f5, #87c1f1, #8ee3ee, #8cf391, #f1fa90, #f3cb8a, #ee7f7e) 1
}