/*Container*/

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}


/* Backgrounds & colored buttons */

.bg-dark,
.btn-dark {
    background-color: rgb(92, 92, 92);
    color: rgb(201, 199, 199);
}

.bg-light,
.btn-light {
    background-color: #a0a0a0;
    color: #333;
}


/* Text Colors */

.text-dark {
    color: #696969;
}

.text-light {
    color: #f4f4f4;
}

.bg-dark a,
.btn-dark a {
    color: #fff;
}

.bg-light a,
.btn-light a {
    color: #333;
}


/* Text sizes */

.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}


/* Margin */

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}


/* Padding */

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}