/*Container*/

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}


/* Backgrounds & colored buttons */

.bg-dark,
.btn-dark {
    background-color: rgb(48, 113, 167);
    color: rgb(245, 235, 235);
}

.bg-light,
.btn-light {
    background-color: #f7daf7;
    color: rgb(78, 47, 99);
}


/* Text Colors */

.text-dark {
    color: rgb(245, 235, 235);
}

.text-light {
    color: rgb(78, 47, 99);
}

.bg-dark a,
.btn-dark a {
    color: #fff;
}

.bg-light a,
.btn-light a {
    color: rgb(78, 47, 99);
}


/* Margin */

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}


/* Padding */

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}